apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dev
  name: ingest-hl7
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingest-hl7
  template:
    metadata:
      labels:
        app: ingest-hl7
    spec:
      containers:
        - name: ingest-hl7
          image: 279855623390.dkr.ecr.us-east-2.amazonaws.com/hl7_ingest:latest
          ports:
            - containerPort: 5000