apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: hl7
  name: ingest-hl7
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingest-hl7
      tier: frontend
  template:
    metadata:
      labels:
        app: ingest-hl7
        tier: frontend
    spec:
      containers:
        - name: ingest-hl7
          image: 279855623390.dkr.ecr.us-east-2.amazonaws.com/hl7meshv1:v4
          ports:
            - containerPort: 5000